{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.896"}}}
           :dev  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.16.8"}}}
           :test {:jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                                "-Dhyperfiddle.rcf.generate-tests=true"]
                  :extra-paths ["test" "example"]
                  :extra-deps  {thheller/shadow-cljs   {:mvn/version "2.16.8"}
                                nubank/matcher-combinators {:mvn/version "3.5.1"}
                                missionary/missionary  {:mvn/version "b.26"}
                                org.clojure/core.async {:mvn/version "1.5.648"}
                                io.github.cognitect-labs/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                 :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}}
                  :exec-fn     cognitect.test-runner.api/test}
           :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
                   :ns-default build}}}
