{:deps     {:aliases [:cljs]}
 :dev-http {8000 "out"}
 :builds   {:browser {:target     :browser
                      :modules    {:main {:entries [dev-entrypoint]}}
                      :output-dir "out/js"}
            :test    {:target    :node-test
                      :output-to "out/node-tests.js"
                      :ns-regexp "^(hyperfiddle.rcf.*-test|example)"
                      }
            :browser-test {:target    :karma
                           :output-to "out/karma-tests.js"
                           :ns-regexp "^(hyperfiddle.rcf.tests|example.*)"}}}
