{:deps     {:aliases [:dev :cljs-test]}
 :dev-http {8000 "out"}
 :builds   {:app {:target     :browser
                  :modules    {:main {:entries [hyperfiddle.rcf.tests]}}
                  :output-dir "out/js"}}}
