{:deps     true
 :nrepl    {:port 9001}
 :dev-http {8000 "public"}
 :builds
 {:browser-support
  {:target           :browser
   :devtools         {:hud                   #{:progress :errors}}
   :modules          {:main                  {:entries [#_minitest.poney
                                                        #_minitest.unify
                                                        #_minitest.tests-block
                                                        #_minitest
                                                        #_minitest-features-test
                                                        minitest-test]}}
   :compiler-options {:infer-externs         :auto
                      :js-options            {:variable-renaming :off}
                      ;; assign names to anon functions
                      :anon-fn-naming-policy :unmapped}}

  :node-support
  {:target    :node-script
   :output-to "nodejs-target/main.js"
   :main      minitest.poney/entry-point}}}
