name: JVM
on: [push]
jobs:
  clojure:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@3.4
        with:
          cli: 1.10.1.727

      - name: Run tests
        run: clojure -X:test:example :dirs [\"example\"] :patterns [\"example.*\"]
        shell: bash

